<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="og:locale" content="en_US">
  <meta name="og:type" content="website">
  <meta name="description" content="Courtesy Moto Co.">
  <meta property="og:description" content="Courtesy Moto Co.">
  <meta name="twitter:description" content="Courtesy Moto Co.">
  <meta name="image" content="./assets/cmc-logo.png">
  <meta property="og:title" content="Courtesy Moto Co.">
  <meta property="og:image" content="./assets/cmc-logo.png">
  <meta property="og:url" content="https://courtesymoto.com">
  <meta name="og:site_name" content="CourtesyMotoCo">
  <meta name="msapplication-TileColor" content="#710d1b">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="courtesymoto.com">
  <meta property="twitter:url" content="https://courtesymoto.com">
  <meta name="twitter:title" content="Courtesy Moto Co.">
  <meta name="twitter:image" content="./assets/cmc-logo.png">

  <link rel="apple-touch-icon" sizes="180x180" href="./assets/cmc-logo.png" />
  <link rel="icon" href="./assets/cmc-logo.png" />
  <link rel="stylesheet" href="./css/main.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <title>Courtesy Moto Co.</title>
</head>

<body>
  <header class="header">
    <div class="header-banner">
      <img src="./assets/Courtesy_Logo_Oval_black_gold.png" alt="" class="logo">
      <div class="header-row">
        <a href="tel:+17202951152" class="link phone-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"
            class="icon">
            <path
              d="M224.2 89C216.3 70.1 195.7 60.1 176.1 65.4L170.6 66.9C106 84.5 50.8 147.1 66.9 223.3C104 398.3 241.7 536 416.7 573.1C493 589.3 555.5 534 573.1 469.4L574.6 463.9C580 444.2 569.9 423.6 551.1 415.8L453.8 375.3C437.3 368.4 418.2 373.2 406.8 387.1L368.2 434.3C297.9 399.4 241.3 341 208.8 269.3L253 233.3C266.9 222 271.6 202.9 264.8 186.3L224.2 89z" />
          </svg><span>Get in Touch</span></a>
        <span class="mobile-hidden">|</span>
        <p class="mobile-hidden">Est. 2026</p>
      </div>
    </div>

    <section class="header-main">
      <div class="header-content">
        <p class="coming-soon">Coming Soon</p>
        <h1>Courtesy Moto Co.</h1>
        <hr />
        <p>A vibrant hub for capacity building & connection while preserving a
          historic building in the Five Points neighborhood. The space will
          continue to provide mechanical services & local opportunities
          while fostering new collaborations at this vital corner.</p>
        <div class="button-row">
          <a href="https://drive.google.com/file/d/1vdoncspazXVYeRa3zMAbnT1YQMXuCI1X/view" class="button"
            target="_blank">
            See the Proposal
          </a>
          <a href="https://drive.google.com/file/d/16i_TLmOoZimbOtfX4zqSWsyIpzYcfcaX/view" class="button secondary"
            target="_blank">See the Historic
            Info</a>
        </div>
      </div>
      <div class="hero-image" role="image" aria-label="a vintage Honda motorcycle in front of an old brick wall">
      </div>
    </section>
  </header>

  <section class="open-house section">
    <div class="open-house-header">
      <h2>Open House</h2>
      <img src="./assets/litas-courtesy.jpeg" class="image"
        alt="a group of women smiling outside of the Courtesy building below the old brick sign that reads Courtesy Auto">
      <p class="photo-credit">Photos courtesy of <a href="https://www.instagram.com/malloryteichthesen" target="_blank"
          rel="noopener noreferrer">Mallory Teichthesen</a> and <a href="https://www.instagram.com/small.block.jd"
          target="_blank" rel="noopener noreferrer">JD Minnick</a></p>
      <p>Thank you again to our sponsors and collaborators:<br /> Ratio Beerworks | Rider Justice Motorcycle Lawyers |
        The
        Litas Denver | REV'IT | Mack's Barbershop | VAHNA | Bear Creek Distillery | 303 Moto Co </p>
      <iframe src="https://www.youtube.com/embed/BEKrbC35HWE?si=B64DOEsgJ-tloBTp"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="open-house-fliers">

    </div>
  </section>

  <section class="find-us section">
    <h2>Wrench With Courtesy, </br>Ride With Courtesy</h2>
    <div class="opening-content">
      <div class="info-collection">
        {% include 'map-icon.njk' %}
        <h4>Location</h4>
        <p>728 E. 26th Ave.<br />Denver CO<br />80205</p>
      </div>

      <div class="info-collection">
        {% include 'phone-icon.njk' %}
        <h4>Get In Touch</h4>
        <a href="tel:+17202951152">720-295-1152</a>
      </div>

      <div class="info-collection">
        {% include 'email-icon.njk' %}
        <h4>Email</h4>
        <a href="mailto:info@courtesymotoco.com">info@courtesymotoco.com
        </a>
      </div>

      <div class="info-collection">
        {% include 'insta-icon.njk' %}
        <h4>Instagram</h4>
        <a href="https://www.instagram.com/courtesymotoco/" target="_blank"
          rel="noopener noreferrer">@courtesymotoco</a>
      </div>

      <div class="info-collection">
        {% include 'facebook-icon.njk' %}
        <h4>Facebook</h4>
        <a href="https://www.facebook.com/courtesymotoco" target="_blank" rel="noopener noreferrer">@courtesymotoco</a>
      </div>

      <div class="info-collection">
        {% include 'youtube-icon.njk' %}
        <h4>Youtube</h4>
        <a href="https://www.youtube.com/@CourtesyMotoCo" target="_blank" rel="noopener noreferrer">@courtesymotoco</a>
      </div>
    </div>
  </section>

  <section class="vision section">
    <h2>Our Vision</h2>
    <div class="vision-content">
      <img class="image" src="./assets/Courtesy.jpg" alt="">
      <div class="value-grid">
        <p class="key-value">Workshops</p>
        <p class="key-value">Preservation</p>
        <p class="key-value">Community</p>
        <p class="key-value">Collaboration</p>
        <p class="key-value">Service</p>
        <p class="key-value">Co-working</p>
      </div>
    </div>
  </section>

  <section class="support section">
    <h3>Learn More</h3>
    <p>Support this adaptive re-use project that will activate a
      historic building in Five Points at the 26th Ave and Welton
      corner as a community serving and capacity building space
      for neighbors, motorcyclists, and collaborators alike.</p>
    <div class="button-row">
      <a href="https://drive.google.com/file/d/1vdoncspazXVYeRa3zMAbnT1YQMXuCI1X/view" class="button"
        target="_blank">See the Proposal</a>
      <a href="https://drive.google.com/file/d/16i_TLmOoZimbOtfX4zqSWsyIpzYcfcaX/view" class="button secondary"
        target="_blank">See the Historic
        Info</a>
    </div>
  </section>


  <footer class="footer">
    <div>
      <h4>Courtesy Moto Co.</h4>
      <p class="text-sm">Wrench With Courtesy, Ride With Courtesy</p>
    </div>

    <div class="icon-section">
      <a href="https://www.facebook.com/courtesymotoco" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
        {% include 'facebook-icon.njk' %}
      </a>
      <a href="https://www.youtube.com/@CourtesyMotoCo" target="_blank" rel="noopener noreferrer" aria-label="Youtube">
        {% include 'youtube-icon.njk' %}
      </a>
      <a href="https://www.instagram.com/courtesymotoco/" target="_blank" rel="noopener noreferrer"
        aria-label="Instagram">
        {% include 'insta-icon.njk' %}
      </a>
      <a href="mailto:info@courtesymotoco.com" aria-label="Email us">
        {% include 'email-icon.njk' %}
      </a>
      <a href="tel:+17202951152" aria-label="Call us">
        {% include 'phone-icon.njk' %}
      </a>
    </div>
  </footer>

</body>

</html>