@use 'variables' as *;

body {
  font-size: $step-0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $body-font;
  color: $dark-brown;
}

h1 {
  font-size: $step-7;
}

h2 {
  font-size: $step-5;
}

h3 {
  font-size: $step-4;
}

h1,
h2,
h3,
h4,
button,
.button {
  font-weight: normal;
  font-family: $heading-font;
}