@use 'variables' as *;

body {
  font-size: $step-0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
  color: $dark-brown;
}

h1 {
  font-size: $step-7;
}

h2 {
  font-size: $step-5;
}

h3 {
  font-size: $step-4;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
